[submodule "packer-template"]
	path = packer-template
	url = https://github.com/futoase/packer-template.git
[submodule "roles/wordpress"]
	path = roles/wordpress
	url = https://github.com/futoase-ansible-roles/wordpress.git
[submodule "roles/mysql"]
	path = roles/mysql
	url = https://github.com/futoase-ansible-roles/mysql.git
[submodule "roles/php"]
	path = roles/php
	url = https://github.com/futoase-ansible-roles/php.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/futoase-ansible-roles/nginx.git
